/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
.site-logo-text a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 8px;
}
.region-header-col-2 ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
}
.region-header-col-2 li {
  text-align: center;
  float: left;
  border-right: 1px solid black;
  border: collapse;
}
.region-header-col-2 li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.region-header-col-2 li a:hover {
  text-decoration: underline;
}
.right figcaption {
  font-style: italic;
}
.byline-text {
  font-size: 14px;
  padding-left: 1em;
}
.region-footer {
  background-color: #333;
  overflow: auto;
  color: white;
  padding: 8px;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #fff;
}
body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  color: black;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
article {
  overflow: auto;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
/**
 * General layout
 */
.site-logo {
  display: none;
}
.region-header-col-1 {
  float: left;
}
.region-header-col-2 {
  float: right;
}
.inner-wrap-flash img {
  max-width: 100%;
  border: 1px solid black;
}
.inner-wrap-main {
  max-width: 960px;
  margin: 0 auto;
  padding: 8px;
}
.region-main.has-sidebar-right {
  display: inline;
  float: left;
  width: 60%;
  margin-right: 0.52083333%;
  margin-left: 0.52083333%;
}
.region-main.has-sidebar-left {
  display: inline;
  float: right;
  width: 60%;
  margin-right: 0.52083333%;
  margin-left: 0.52083333%;
}
.region-sidebar-right {
  float: right;
  width: 30%;
}
.region-sidebar-left {
  float: left;
  width: 30%;
}
.right {
  float: right;
  margin-left: 8px;
}
.inner-wrap-after-main {
  max-width: 960px;
  margin: 0 auto;
  padding: 8px;
}
.byline {
  clear: both;
  display: inline-flex;
}
.footer-column {
  width: 33%;
  height: 200px;
  display: inline-block;
  overflow: auto;
}
.site-footer {
  text-align: center;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
